@media (max-width: 768px) {
    .perfil {
        margin-inline: 40px;
    }

    .card-container {
        padding-inline: 40px;
    }
}

@media(max-width: 467px) {

    .perfil {
        position: relative;
    }

    .perfil .background {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 300px;
        top: 0;
    }

    .perfil .image-perfil {
        width: 250px;
        position: absolute;
        z-index: 10;
        bottom: 0;
        height: auto;
    }

    .perfil .logo {
        position: absolute;
        z-index: 99;
        bottom: 0;
        width: 100px;
        height: auto;
    }

    .card-contrate {
        max-width: 300px;
    }

    .card-contrate p {
        font-size: 12px;



    }

    .card-contrate p span {
        font-size: 12px;

    }

    .card-container {
        width: 100%;
        padding-inline: 40px;

    }

    .card {
        width: 100% !important;
        max-width: 100%;
    }

    .card p {
        font-size: 16px;
    }

    .swiper {
        margin-bottom: 80px;
    }
}

@media (max-width: 350px) {}